<div class="container">
    <h1 id="p2">{{title}}</h1>
    <div class="col">
        <div class="row">{{content}}</div>
         <div class="row">{{slug}}</div>
         <div class="row"><a href="/blogs" id="a">Back</a></div>
    </div>
</div>